.article__button {
	background-color: #02658C;
    border-color: #000;
    border-radius: 5px;
    color: #F2E6DC;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.article__button--description {
	margin-left: 220px;
	    
}
.article__description--description {
	border-color: #BFB6AE;
	border-radius: 20px;
	border-style : solid;
	border-width: 1px;
	margin-bottom: 20px;
	padding: 20px;
	
}
.article__description--image {
	height: 32px;
	width: 32px;
}
.article__description--quantite {
	text-align: center;
}
.article__description--prix {
	text-align: center;
}
.article__description--titre {
	text-align: center;
}
.article__image {
	height: 32px;
	width: 32px;
}
.article__link {
	color: #024772;
}

.article__link:hover {
	text-decoration: none;
	color: #0387A5;
}
.article__link--text {
	display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;
    width: 70%;
}
.article__liste {
    border-color: #BFB6AE;
	border-style: solid;
    border-width: 2px;
    height: 450px;
    margin: 45px;
    width: 25%;
}

.article__panier {
    border-color: #BFB6AE;
	border-style: solid;
    border-width: 2px;
    height: 500px;
    margin: 45px;
    width: 25%;
}



aside {
	padding-top:50px;

}
.aside__link {
	color: #02658C;
}
.aside__link:hover {
	color: #024772;
	text-decoration: none;
}
.aside__list {
	padding-top: 10px;
}
.aside__margin {
	background-color: #BFB6AE;
	border-radius: 10px;
    margin-left: 50px;
    margin-top: 70px;
    padding-top: 0;
    position: fixed;
    width: 15%;
	
}

@media screen (max-width: 540px) {
	.aside__margin {
		position: relative;
	}
}

.aside__title {
	font-size: 15px;
	margin-top: 20px;
}


.bloc_principal {
	min-height: calc(87vh - 90px);
}
body{
	background-image: url('1928895.jpg');
	font-family: Tahoma;
	margin: 0;
	padding-top:70px;
	
}
.button {
	background-color: #02658C;
	border-color: #000;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	color: #F2E6DC;
	margin-top: 10px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.button:hover{
	background-color: #024772;
	color: #BFB6AE;
	text-decoration: none;
}
.commande__description {
	border-color: #BFB6AE;
	border-radius: 20px;
	border-style : solid;
	border-width: 1px;
	margin-bottom: 20px;
	padding: 20px;
	
}
.formulaire {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 40px;
	text-align: center;
}
/**------------------------------------------------**\
 					* FOOTER
/**------------------------------------------------**/
.footer {
	background-color: #02658C;
	color:#F2E6DC;
	padding:5px;
	margin-top: 50px;
	text-align:center;
}

.footer__desc--center {
	font-family: Tahoma;
	font-size: 25px;
	margin-top: 30px;
	text-align:center;
}

.footer__desc--right {
	bottom: 0px;
	top: 20px;
}

.footer__image--google {
	background-image:url('image/google-plus_noir.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 64px;
	width: 64px;
}

.footer__image--google:hover {
	background-image:url('image/google-plus_hover.png');
	background-repeat: no-repeat;
}
.footer__image--facebook {
	background-image:url('image/facebook_noir.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 64px;
	width: 64px;
}

.footer__image--facebook:hover {
	background-image:url('image/facebook_hover.png');
	background-repeat: no-repeat;
}

.footer__link {
	color: #F2E6DC;
	text-decoration: none;
}

.footer__link:hover {
	color: #BFB6AE;
	text-decoration:none;
	
}
.footer__list {
	display: inline-block;
	font-family: Tahoma;
	right: 40px;
	text-align: left;

}
.footer__margin {
	margin: 0;
}


.footer__size {
	width: 100%;

}
.footer__image--twitter {
	background-image:url('image/twitter_noir.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 64px;
	width: 64px;
}

.footer__image--twitter:hover {
	background-image:url('image/twitter_hover.png');
	background-repeat: no-repeat;
}

h1 {
	font-family: Arial;
	text-align: center;
}
header {
	font-family: Tahoma;
	margin-bottom: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.header__image {
	height: 24px;
	vertical-align: middle;
	width: 24px;
}



.home__produit {
	border-color: black;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	margin-bottom: 20px;
	padding: 20px;
}

.image {
	height: 250px;
	width: 250px;
}

input {
	border-color: #024772;
	border-radius: 10px;
	margin: 10px 10px;
	padding: 10px;
}

.inscription__link {
	color: #024772;
}

.inscription__link:hover {
	text-decoration: none;
	color: #0387A5;
}



/**------------------------------------------------**\
 			* MENU DEROULANT HEADER
/**------------------------------------------------**/
.main {
	background-color: white;
	border-radius: 10px;
	margin-top:50px;
	margin-left: 455px;
	padding-bottom: 20px;
	width: 60%;
}

@media screen and (max-width: 540px) {
	.main {
		margin-left: 0px;
	}
	.main__only {
		margin-left: 0px;
	}
	.main__home {
		margin-left: 0px;
	}
}

.main__description {
	padding-right: 50px;
}
.main__home {
	background-color: white;
	border-radius: 10px;
	margin-top:50px;
	margin-left: 455px;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 20px;
	width: 60%;
}



.main__only {
	background-color: white;
	border-radius: 10px;
	margin-top:50px;
	margin-left: 385px;
	padding-bottom: 20px;
	padding-right: 50px;
	width: 60%;
}


.menu {
	background-color: #02658C;
	list-style-type: none;
	margin: 0;
	overflow: visible;
	z-index: 100;
}
/* les a href */

.menu a{
	color:#F2E6DC;
	display:block;
	padding:8px 32px;
	text-decoration:none;
}

.menu li{
	display:inline-block;
	position:relative;
}

.menu li:hover li a{
	background-color:#02658C;
	color:#F2E6DC;
}

/* Permet de surligner le texte de chaque element séparemment quand la souris passe dessus */

.menu li:hover, .menu li li:hover a{
	background-color:#024772;
	color:#BFB6AE;

}

/* Permet de surligné toute la liste quand la souris passe dessus */

.menu li:hover ul{
	background-color:#024772;
	max-height:50em;
}

.menu ul{
	position:absolute;
	max-height:0;
	left: 0;
	overflow:hidden;
	right: 0;
	transition-duration:0s;
	z-index: 1000;
}
.menu, .menu ul{
	list-style:none;
	padding:0;
	margin:0;
	text-align:center;
}

.menu ul a{
	padding:8px 3px;

}
.menu ul li{
	display:inherit;
}


/* ------------------ */
.panier__bas {
	margin-top: 20px;
}


.profil {
	text-align: center;
}


.recherche {
	background-color: #F2E6DC;
}
table {
	margin-top: 40px;
	width: 100%;
}

.table__image {
	height: 24px;
	width: 24px;
}
.table__link {
	color: #02658C;
}

.table__link:hover {
	color: #024772;
	text-decoration: none;
}

.table__title {
	text-align: center;
}

td {
	text-align: center;
}
